APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION_PDDIKTI=pddikti
DB_HOST_PDDIKTI=0.0.0.0
DB_PORT_PDDIKTI=1521
DB_SERVICE_NAME_PDDIKTI=PDDIKTI
DB_LOAD_BALANCE_PDDIKTI=no
DB_DATABASE_PDDIKTI=PDDIKTI
DB_USERNAME_PDDIKTI=pddikti
DB_PASSWORD_PDDIKTI=pddikti

DB_CONNECTION_ISTTSKAMPUS=istts_kampus
DB_HOST_ISTTSKAMPUS=0.0.0.0
DB_PORT_ISTTSKAMPUS=1521
DB_SERVICE_NAME_ISTTSKAMPUS=ISTTS_KAMPUS
DB_LOAD_BALANCE_ISTTSKAMPUS=no
DB_DATABASE_ISTTSKAMPUS=ISTTS_KAMPUS
DB_USERNAME_ISTTSKAMPUS=BAA
DB_PASSWORD_ISTTSKAMPUS=BAA

DB_CONNECTION_ISTTSDOSEN=istts_dosen
DB_HOST_ISTTSDOSEN=0.0.0.0
DB_PORT_ISTTSDOSEN=1521
DB_SERVICE_NAME_ISTTSDOSEN=ISTTS_DOSEN
DB_LOAD_BALANCE_ISTTSDOSEN=no
DB_DATABASE_ISTTSDOSEN=ISTTS_DOSEN
DB_USERNAME_ISTTSDOSEN=dosen
DB_PASSWORD_ISTTSDOSEN=dosen

DB_DBLINK_1=PubFUpddiktiTObaa   # DBLINK NAME: PDDIKTI TO BAA
DB_DBLINK_2=PubFUbaaTOpddikti   # DBLINK NAME: BAA TO PDDIKTI
DB_DBLINK_3=PubFUbaaTOdosen     # DBLINK NAME: BAA TO DOSEN
DB_DBLINK_4=PubFUdosenTObaa     # DBLINK NAME: DOSEN TO BAA

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
